@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.selection-area {
  position: relative;
  margin-left: 2vw;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-area.custom-select {
  position: relative;
}

.selection-area.custom-select select {
  display: none;
}

.selection-area .selected-item {
  width: 50%;
  background: #901c1c;
  padding: 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 99;
  border-radius: 5px;
}

.selection-area .selected-item:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.selection-area .arrowanim.selected-item:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.selection-area .item {
  background: #901c1c;
  padding: 10px 20px;
  margin: 0px 10px;
  color: #FFFFFF;
  border-top: 2px solid #FFFFFF;
  cursor: pointer;
}

.selection-area .item:hover {
  background: #000000;
}

.selection-area .item-container {
  background: #901c1c;
}

.selection-area .item-container:last-child {
  border-radius: 0px 0px 5px 5px;
}

.selection-area .all-items {
  position: absolute;
  top: 93%;
  left: 50%;
  width: 50%;
  z-index: 100;
}

.selection-area .all-items-hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: auto;
}

.modal.displayed {
  display: block;
}

.modal.notdisplayed {
  display: none;
}

.modal .modal-box {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-box .next,
.modal .modal-box .prev {
  background: url(../img/icone/arrow.svg) center center/100% 100%;
  width: 4vw;
  height: 100%;
  margin: 0 2vw;
  border: none;
}

.modal .modal-box .next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal .modal-box .modal-content {
  width: 90vw;
}

.modal .modal-box .modal-content a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-box .modal-content a img {
  width: 100%;
  max-height: 100%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .modal-box .modal-content a video {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal button {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-indent: -3000px;
}

.modal button:hover {
  opacity: 1;
}

.modal .close {
  width: 42px;
  height: 42px;
  background: url(../img/icone/cross.svg) center center/100% 100% no-repeat transparent;
  border: none;
  position: fixed;
  z-index: 12;
  top: 20px;
  right: 40px;
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.modal-form.displayed {
  display: block;
}

.modal-form.notdisplayed {
  display: none;
}

.modal-form .modal-form-content {
  height: 90vh;
  background-color: #D3573C;
  margin: auto;
  max-width: 800px;
  border-radius: 5px;
}

.modal-form .modal-form-content form {
  margin: 35px;
  max-width: 100%;
  max-height: 100vh;
}

.modal-form .modal-form-content form #h1-form {
  font-size: 3rem;
  color: #000000;
  -webkit-margin-before: 0.2rem;
          margin-block-start: 0.2rem;
  -webkit-margin-after: 0.2rem;
          margin-block-end: 0.2rem;
}

.modal-form .modal-form-content form label {
  font-size: 1.5rem;
}

.modal-form .modal-form-content form input {
  font-size: 1rem;
  height: 62px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

.modal-form .modal-form-content form input#input-message {
  height: 170px;
}

.modal-form .modal-form-content form input[type="submit"] {
  left: 0px;
  background-color: #901c1c;
  padding: 1% 5%;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  width: auto;
  margin: 16px;
}

.modal-form button.close-form {
  width: 42px;
  height: 42px;
  background: url(../img/icone/white-cross.svg) center center/100% 100% no-repeat transparent;
  border: none;
  position: fixed;
  z-index: 12;
  top: 20px;
  right: 40px;
  color: #FFFFFF;
  text-indent: -30000px;
}

.skip-link {
  overflow: hidden;
  position: absolute;
  left: -10000px;
  display: block;
  font-size: 1.5rem;
  position: static;
  display: none;
}

.skip-link.displayed {
  display: block;
}

.hashtag-links {
  border: solid;
  border-color: #525252;
  border-radius: 500px;
  padding: 0.3rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  border-width: 0.05px;
  color: #901c1c;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0.2rem;
}

a {
  text-decoration: none;
  color: #901c1c;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans", sans-serif;
}

p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

h1 {
  margin: auto;
  padding-top: 1.5rem;
  color: #901c1c;
}

h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 3.6rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.location {
  color: #901c1c;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.categories {
  font-size: 1.2rem;
}

.price {
  color: #525252;
  font-size: 0.9rem;
}

.index-page .image-container {
  height: 200px;
  margin: auto;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.index-page .image-container img {
  height: 150%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index-page article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 10%;
  text-align: center;
}

.index-page article.notdisplayed {
  display: none;
}

.index-page article.displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-page header {
  width: 70vw;
  margin: 0px;
}

.index-page main {
  position: relative;
}

.index-page main h1 {
  position: absolute;
  top: 1vh;
  right: 5vh;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .index-page main h1 {
    font-size: 1.4rem;
    height: 8vh;
    top: 4vh;
  }
}

#all-photographers {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  clear: both;
}

@media screen and (max-width: 992px) {
  #all-photographers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  float: left;
  margin-right: 20px;
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .header-container .logo a img {
    margin-top: 3vh;
    height: 8vh;
  }
}

@media screen and (max-width: 1200px) {
  .header-container .logo {
    width: 100vw;
  }
}

.header-container nav {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .header-container nav {
    width: 100vw;
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

#photographer {
  max-width: 74vw;
  height: 30vh;
  clear: both;
  background-color: #FAFAFA;
  margin: 4%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  #photographer {
    background-color: #FFFFFF;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
}

#photographer h1 {
  color: #D3573C;
  font-size: 2rem;
}

#photographer #location {
  color: #901c1c;
}

#photographer #tagline {
  color: #525252;
}

#photographer #button-area {
  white-space: nowrap;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}

#photographer #button-area button {
  left: 0px;
  background-color: #901c1c;
  padding: 20%;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  height: 69px;
}

@media screen and (max-width: 992px) {
  #photographer #button-area button {
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    bottom: 1vh;
    height: 35px;
    padding: 1vh;
  }
}

#photographer #image-area {
  height: 100%;
  width: 30%;
}

#photographer #image-area .image-container {
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

#photographer #image-area .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#all-media {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  #all-media {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  #all-media {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.photographer-page article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 10%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .photographer-page article {
    margin: 0%;
  }
}

.photographer-page article .media-container {
  height: 300px;
  width: 350px;
  margin: auto;
  overflow: hidden;
}

.photographer-page article .media-container a:focus {
  border-width: 10px;
}

.photographer-page article .media-container a {
  display: block;
  height: 100%;
  width: 100%;
}

.photographer-page article .media-container a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.photographer-page article .media-container a video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.photographer-page article .description-and-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #901c1c;
}

.photographer-page article .description-and-like h2 {
  font-size: 24px;
}

.fa-heart {
  margin-left: 10px;
  font-size: 16px;
}

#like-and-price {
  display: block;
  background-color: #D3573C;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
  bottom: -10px;
  right: 36px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  #like-and-price {
    display: none;
  }
}

.like-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */