.index-page {
	header {
		width: 70vw;
		margin: 0px;
		.header-container {
			display: flex;
			flex-flow: row nowrap;
			float: left;
			width: 100%;
			margin-top: 0px;
			@include larger-generic {
				width: 900px;
			}
			.logo {
				a {
					display: block;
					height: auto;
					width: auto;
					img {
						@include desktop-generic {
							margin-top: 1vh;
							margin-left: 1vw;
							height: 4vh;
						}
					}
				}
				@include desktop-generic {
					// width: 10%;
				}
			}
			nav {
				margin-top: 2vh;
				padding: 1rem;
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				@include desktop-generic {
					width: 100vw;
				}
			}
			@include desktop-generic {
				flex-flow: column nowrap;
				// margin-left: 10px;
			}
		}
	}
	main {
		h1 {
			position: absolute;
			display: block;
			width: 25vw;
			right: 10vw;
			// margin-right: 1vw;;
			top: 1vh;
			padding-top: 1vh;
			@include desktop-generic {
				right: 20vw;
				font-size: 1.4rem;
				height: 8vh;
				// top: 3vh;
			}
		}
	}
	#all-photographers {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 10px;
		clear: both;
		
		@include desktop-column-positionning ;
		@include mobile-column-positionning;
		@include desktop-generic {
			margin: 10px 0px;
		}
		article {
			width: 100%;
			// height: 100%;
			min-height: 600px;
			display: flex;
			flex-flow: column wrap;
			text-align: center;
			overflow: hidden;
			@include desktop-generic {
				min-height: 400px;

			}

			&.notdisplayed {
				display: none;
			}
			&.displayed {
				display: flex;
			}
			a {
				// height: 100%;
				width: 100%;
				.image-container {
					margin: auto;
					clip-path: circle();
					width: 100%;
					height: 200px;
					img {
						width: 85%;
						object-fit: contain;
						overflow: hidden;
					}
					@include desktop-generic {
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}
				h2 {
					// height: 100px;
					font-size: 2.6rem;

					@include desktop-generic {
						font-size: 2rem;
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}
			}
			p{
				// height: 50px;
			}
			
		}
	}

}


