
//Global formating
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "DM Sans", sans-serif;

}
p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
h1{
	padding-top: 15px;
	color: $color-primary;
}
h2 {
	color: $color-secondary;
	font-weight: 400;
	font-size: 36px;
    margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.image-container {
	height: 200px;
	margin: auto;
	clip-path: circle();
	img {
		height: 150%;
		object-fit: contain;
	}
}

.location {
	color: $color-primary;
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.tagline {
	font-size: 0.8em;
}
.categories {
	font-size: 8px;
}
.price {
	color: $color-tertiary;
	font-size: 0.8em;
}



