
//Global formating
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
	font-size: 16px;
}
body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "DM Sans", sans-serif;

}
p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
h1{
	margin: auto;
	padding-top: 1.5rem;
	color: $color-primary;
}
h2 {
	color: $color-secondary;
	font-weight: 400;
	font-size: 3.6rem;
    margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}



.location {
	color: $color-primary;
	font-size: 1.3rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
// .tagline {
// 	// font-size: 0.8rem;
// }
.categories {
	font-size: 1.2rem;
}
.price {
	color: $color-tertiary;
	font-size: 0.9rem;
}



