section {
	article {
		text-align: center;
	}
}
.skip-link {
	overflow: hidden;
	position: absolute;
	left: -10000px;
	display: block;
	font-size: 1.5em;
}
.skip-link {
	position: static;
}

//Image
.hashtag-links {
	border: solid;
	border-color: $color-tertiary;
	border-radius: 20% / 50%;
	padding: 0.4em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-width: 0.05px;
	color: $color-primary;
	font-weight: bold;
	font-size: 0.7em;
}
a {
	text-decoration: none;
	color: $color-primary;
}
#all-photographers {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 10px;
	clear: both; 
}	
.notdisplayed{
		display: none;
		background-color: aqua;
	}
article {
	display: flex;
	flex-flow: column wrap;

	>a {
		.image-container {
			width: 200px;
			height: 200px;
			position: relative;
			overflow: hidden;
			border-radius: 50%;
		}
		.photograph-vignet {
			display: inline;
			margin: 0 auto;
			height: 100%;
			width: auto;  
		}
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
}
.location {
	color: $color-primary;
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.tagline {
	font-size: 0.8em;
}
.categories{
	font-size: 8px;
}
.price {
	color: $color-tertiary;
	font-size: 0.8em;
}
p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.header-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content:flex-start;
	align-items: center;
	align-content:flex-start;
	float: left;
}