// Style of header container
#photographer {
	width: 84%;
	background-color: $color-fourthly;
	margin: 4%;
	padding: 4%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	#button-area {
		// position: absolute;
		white-space: nowrap;
		margin-block-start: 20px;
		button {
			left: 0px;
			background-color: $color-primary;
			padding: 20%;
			color: $color-sixthly;
			border-radius: 5px;
			border: none;
		}
	}
}

#all-media {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 10px;
	@include mobile-column-positionning;
}



.photographer-page {
	article {
		display: flex;
		flex-flow: column nowrap;
		margin: 10%;
		text-align: center;

		.media-container {
			height: 300px;
			width: 350px;
			margin: auto;
			clip-path: polygon(0% 10%, 100% 10%, 100% 90%, 0% 90%);
			img {
				height: 170%;
			}
			video {
				height: 170%;
			}
		}
		.description-and-like {
			display: flex;
			flex-flow: row nowrap;
			h2{
				font-size: 24px;
			}
			align-items: center;
			justify-content: space-around;
			color: $color-primary;
		}
	}
}

.fa-heart {
	margin-left: 10px;
	font-size: 16px;
}
#like-and-price {
	display: block;
	background-color: $color-secondary;
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 10px;
	bottom: -10px;
	right: 36px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
}
.like-area{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
