$color-primary: #901c1c;
$color-secondary: #D3573C;
$color-tertiary : #525252;
$color-fourthly :#FAFAFA;
$color-fifthly :#000000;
$color-sixthly :#FFFFFF;
$color-seventhly :#2478BD;
// $color-heighthly :#86B9E3;






$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large:1200px;
$breakpoint-larger:1400px;


