@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body {
	font-family: "DM Sans", sans-serif;
}
h1 {
	color: $color-primary;
}
h2 {
	color: $color-secondary;
	font-weight: 400;
	font-size: 2.5em;
    margin-top: 0.2em;
	margin-bottom: 0.2em;
}